@font-face {
  font-family: 'JosefinSans';
  src: url(./assets/JosefinSans-Regular.ttf);
 
}

html{
  font-family: 'JosefinSans';
  width: 100%;
  height: 100%;
}

body{
  width: 100%;
  height: 100%;
  margin: 0;
}

#root{
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 375px) {
  html{
    height: auto;
  }

  body{
    height: auto;
  }

  #root{
    height: auto;
  }
}